<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @booking.customer_id %>
</p>

<p>
  <b>At:</b>
  <%= @booking.at %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
